
#icon{
    width: 10%;
    height: 10%;
}
.container{
    background: lightblue;
}

body{
    background: darkcyan;
    text-align: center;
}

h1{
    font: 50px red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid 3px blue;
    background: whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}


#goal{
    background: lightgreen;
}
#score{
    background: lightcoral;
}

#losses{
    background:lightslategray;
}

#mario{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 18%;  

} 



#animal, #zelda, #sonic{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 8%;  


}

#info{
    border: solid black 3px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.crystals{

    display: inline;
}

.learn{
    border: gold solid 3px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;
}