
#icon{
    width: 10%;
    height: 10%;
}
.container{
    background: lightblue;
}

body{
    background: darkcyan;
    text-align: center;
}

h1{
    font: 50px red;
    border-bottom: solid 5px whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
}


#goal{
    background: lightgreen;
}
#score{
    background: lightcoral;
}

#losses{
    background:lightslategray;
}

#mario{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 18%;  

} 



#animal, #zelda, #sonic{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 8%;  


}

#info{
    border: solid black 3px;
    margin-left: 25%;
    margin-right: 25%;
}

.crystals{

    display: inline;
}

.learn{
    border: gold solid 3px;
    margin-left: 25%;
    margin-right: 25%;
    background: whitesmoke;
}